@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b> Headquarters Office </b> <br />
    The Maersk Group <br />
    Esplanaden 50 <br />
    1098 Copenhagen K <br />
    Denmark <br /> <br />

    <abbr title="Phone">Phone:</abbr>
    +45 33 63 33 63 <br />

    <abbr title="Telefax">Telefax:</abbr>
    +45 33 63 30 03 <br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Maerskline@mail.com</a><br />
</address>
